.Tilt{
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); 
}

/* .logo{
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); 
    width: 150px;
    height: 150px;
} */